/*  your css code here. If applicable */
.container{
	background-color: #D0D1CF;
	padding: 20px;
	border: 2px solid black;
	border-radius: 20px;
	width: 300px;
	height: 80px;
	text-align: center;
}
.color{
	border: 1px solid black;
	border-radius: 50%;
	height: 80px;
	width: 80px;
	display: inline-block;
}
.green{
	background-color: green;
}
.red{
	background-color: red;
}
.yellow{
	background-color: yellow;
}